
<% provide(:title, "16 Types") %>

<h1>16 Personality Types</h1>

<center>

<table width ="600" cellpadding="10" cellspacing="10">
	
<tr>
	<th width="90"></th>
<th><td><%= link_to "ENTP", entp_path %></td>
<th><td><%= link_to "INTP", intp_path %></td>

<th><td><%= link_to "ENTJ", entj_path %></td>
<th><td><%= link_to "INTJ", intj_path %></td>

</tr>
<tr>
	<th width="90"></th>
<th><td><a style="color:black; text-decoration:none"> 	<%= link_to "ENFP", enfp_path %></td>
<th><td><a style="color:black; text-decoration:none"> 	<%= link_to "INFP", infp_path %></td>

<th><td><a style="color:black; text-decoration:none"> 	<%= link_to "ENFJ", enfj_path %></td>
<th><td><a style="color:black; text-decoration:none"> 	<%= link_to "INFJ", infj_path %></td>
</tr>
<tr>
	<th width="90"></th>
<th><td><a style="color:black; text-decoration:none"> 	<%= link_to "ESTP", estp_path %></td>
<th><td><a style="color:black; text-decoration:none"> 	<%= link_to "ISTP", istp_path %></td>

<th><td><a style="color:black; text-decoration:none"> 	<%= link_to "ESTJ", estj_path %></td>
<th><td><a style="color:black; text-decoration:none"> 	<%= link_to "ISTJ", istj_path %></td>
</tr>

<tr>
	<th width="90"></th>
<th><td><a style="color:black; text-decoration:none"> 	<%= link_to "ESFP", esfp_path %></td>	
<th><td><a style="color:black; text-decoration:none"> 	<%= link_to "ISFP", estp_path %></td>

<th><td><a style="color:black; text-decoration:none"> 	<%= link_to "ESFJ", estp_path %></td>
<th><td><a style="color:black; text-decoration:none">	<%= link_to "ISFJ", estp_path %></td>
</tr>


</table>
</center>
